* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  
}

.card-back {
  border: 1px solid black;
  width: 50%;
  height: 100%;
  margin: auto;
}

.card-back ul {
  list-style: none;
}

.card-back ul li {

}

@media (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
}